name: Deploy
on: 
  push:
    branches:
      - main
  workflow_dispatch:
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Cache dependencies
        uses: actions/cache@v4
        with:
          key: deps-node-modules-{{ hashFiles('**/package-lock.json') }}
          path: ~/.npm
      - name: Install dependecies
        run: npm ci
      - name: Lint project
        run: npm run lint
      - name: Testing
        run: npm run test
      - name: Build
        run: npm run build